@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Open Sans;
    margin: 0;
    padding: 0;
}

/* Header and Subheader */
header {
    text-align: center;
}
.headerText {
    font-size: 4.5em;
}
.subheaderText {
    font-size: 1em;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1.5vw;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
